* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    /* font-size: 1.6rem; */
    color: #1c1d1f;
}

#pre-header {
    background: rgb(86,36,208);
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pre-header p {
    margin: auto;
}

.font-p {
    color: #fff;
    font-weight: 700;
}

#pre-header a {
    color: #fff;
    text-underline-offset: 4px;
}

.fa-xmark {
    margin-right: 10px;
    cursor: pointer;
}

header {
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.151);
    position: relative;
}

#nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.input-icons i {
    position: absolute;
}
  
.fa-magnifying-glass {
    padding: 15px;
}
  
.input-field {
    padding: 16px 170px;
    border-radius: 2rem;
    border: 1px solid #000;
    text-align: start;
}

.nav-mega-menu {
    text-decoration: none;
    color: #000;
}

.fa-cart-shopping {
    font-size: 20px;
}

.reg-btn {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    font-weight: 700;
}

.signup-btn {
    background: #000;
    color: #fff;
}

.lang-btn {
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
}

.landing-image {
    background-image: url(../Images/udemy-landing-image.jpg);
    height: 400px;
    margin: 0 5px;
}

.landing-image-content {
    background-color: #fff;
    width: 35%;
    height: 180px;
    position: absolute;
    margin: 50px 0 0 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.landing-image-content h1 {
    font-size: 1.8rem;
}

.landing-image-content h1, .landing-image-content p {
    margin: 15px 0 0 30px;
}

.courses-container {
    margin: 0 30px;
}

.courses-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.courses-wrap a {
    text-decoration: none;
    font-weight: 700;
    color: #6a6f73;
    font-size:1.1rem;
}

.courses-wrap a:hover {
    color: #000;
}

.courses-container {
    margin-bottom: 70px;
}

.courses-container h1 {
    margin:20px 0;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-container-p {
    margin:20px 0;
    font-size:1.2rem;
}

.courses-box {
    border: 1px solid rgb(212, 212, 212);
    margin:20px;
    padding: 30px;
}

.courses-box-p {
    width: 80%;
    margin:20px 0;
}

.courses-box button {
    padding: 10px 15px;
    border: 1px solid black;
    color: #000;
    background: #fff;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 30px;
}

.courses-box button:hover {
    color: #000;
    background: rgb(209,215,220);
}

.courses-cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card-box {
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.tutor-name {
    font-size: 0.8rem;
    color: #6a6f73;
}

.star {
    font-size: 0.9rem;
    color: #6a6f73;
}

.star-rating {
    font-weight: 700;
    font-size: 1rem;
    color: #b4690e;
}

.fa-star, .fa-star-half-stroke {
    color: rgb(229,152,25);
}

.buy-price {
    font-weight: 700;
}

strike {
    color: #6a6f73;
}

.bestseller-btn button {
    padding: 5px 10px;
    background: rgb(236,235,152);
    color: #3d3c0a;
    font-weight: 600;
    border: none;
}

.divider-icon {
    width: 40px;
    height: 40px;
}

.divider-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: rgb(238, 236, 236);
    margin-bottom: 70px;
    gap: 80px;
}

.divider-wrapper {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

.divider-wrapper p {
    font-weight: 750;
}