* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    /* font-size: 1.6rem; */
    color: #1c1d1f;
}

#pre-header {
    background: rgb(86,36,208);
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pre-header p {
    margin: auto;
}

.font-p {
    color: #fff;
    font-weight: 700;
}

#pre-header a {
    color: #fff;
    text-underline-offset: 4px;
}

.fa-xmark {
    margin-right: 10px;
    cursor: pointer;
}

header {
    margin: 10px 30px;
}

#nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* #nav-search {
    padding: 16px 170px;
    border-radius: 2rem;
    border: 1px solid #000;
}

.search-input i {
    position: absolute;
}

.search-input {
    width: 100%;
    margin-bottom: 10px;
}

.fa-magnifying-glass {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}

.nav-search {
    width: 100%;
    padding: 10px;
    text-align: center;
} */


.input-icons i {
    position: absolute;
}
  
.fa-magnifying-glass {
    padding: 15px;
}
  
.input-field {
    padding: 16px 170px;
    border-radius: 2rem;
    border: 1px solid #000;
    text-align: start;
}

.nav-mega-menu {
    text-decoration: none;
    color: #000;
}

.fa-cart-shopping {
    font-size: 20px;
}

.reg-btn {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    font-weight: 700;
}

.signup-btn {
    background: #000;
    color: #fff;
}

.lang-btn {
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
}